<div class = "container">
    <div class = "jumbotron">
        <h1 class="display-4"> Welcome to Burger-Your-Way </h1>
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuwr8ijAVMqLEljqUUWRxkxRLniUGpWS9Bc2GjuQkgemQvFcLVyQ&s"
    </div>
</div>

<table style="margin:auto">
    <tr>
        <th style="padding-right: 48px;">
            Selected Burgers
        </th>
        <th style="text-align: center;">
            Devoured Burgers
        </th>
    </tr>
    <tr>
<td style="padding-right: 100px;">
    <ul>
    {{#each burgers}}
        <li>
            <p> <span style="float: left;">
            {{this.id}}. {{this.burger_name}}
            </span>
    <button data-burgerid="{{this.id}}" class="devour" style="margin-left: 30px; float:right">Devour It!</button>
            </p>
        </li>
            {{/each}}
     </ul>
            </td>
             <td>
        <ul>
            {{#each devours}}
        <li>
            <p> {{this.id}}. {{this.burger_name}} </p>
                    
        </li>
            {{/each}}
    </ul>
        
        </td>
    </tr>

</table>



    <form id ="newburger" class ="button">

        <textarea type="text" name="burger"></textarea>
        <div>
            <button type="submit"> Submit Burger </button>
        </div>
            <p style="font-weight:bold"> ENTER THE NAME OF THE BURGER YOU'D LIKE TO EAT THEN PRESS SUBMIT</p>
    </form>



    <script type = "text/javascript">
    $("#submit").on("click", function(e){
        e.preventDefault();

        let submittedburger = {
            burger_name : $("#newburger [name=burger]").val().trim()
        }
        if(submittedburger.burger_name !== ""){
            $.ajax("/api/burgers", {
                type: POST,
                data: submittedburger
            }).then (function() {
                location.reload() //this will reload the page with the new burger added
            })
        }
        else {
            alert("PLESE ENTER A BURGER NAME")
        }
    })


    $(".devour").on("click", function(e){
        event.preventDefault();
        let id = $(this).data("burgerid");

        $.ajax("/api/burgers/" + id, {
            type : "PUT"
        }).then(function() {
            location.reload();
        })
    })
    </script>